
# /
/Makefile
/configure.ac.back
/cfconftest.c
/autom4te.cache
/config.h
/config.log
/config.status
/stamp-h1
/svn-commit.tmp
/libtool
/Makefile.bak
/dm-3.2.tar.gz
/dm-3.2
/_configs.sed
/dm_config.h
/build-stamp
/dm-4.1
/dm-4.2.2
/testroot
/dm-4.4.1
/svnversion.stamp
/dm-*.tar.gz
/dm-4.4.1.tar.bz2

# /dcode/
/dcode/Makefile
/dcode/dvt_macros.d
/dcode/startup_dnode.d
/dcode/startup_dvt.d
/dcode/theeye.d
/dcode/dnode.d
/dcode/startup_dgen.d
/dcode/matrix.d
/dcode/startup_dpawn.d
/dcode/errors.d
/dcode/new-plugin.d
/dcode/startup_common.d
/dcode/startup_libs.d
/dcode/processes.d

# /doc/
/doc/Makefile
/doc/chap2.aux
/doc/chap3.aux
/doc/config.sty
/doc/dvt-3.0.aux
/doc/dvt-3.0.bbl
/doc/dvt-3.0.bib
/doc/dvt-3.0.blg
/doc/dvt-3.0.log
/doc/dvt-3.0.out
/doc/dvt-3.0.pdf
/doc/dvt-3.0.toc
/doc/dvt-emacs.aux
/doc/dvt-emacs.bbl
/doc/dvt-emacs.bib
/doc/dvt-emacs.blg
/doc/dvt-emacs.log
/doc/dvt-emacs.out
/doc/dvt-emacs.pdf
/doc/dvt-emacs.toc
/doc/newbook.aux
/doc/newbook.idx
/doc/newbook.ilg
/doc/newbook.ind
/doc/newbook.log
/doc/newbook.pdf
/doc/newbook.toc
/doc/chap1.aux
/doc/newbook.out
/doc/*.dvi
/doc/*.log
/doc/*.lot
/doc/appendix.aux
/doc/newbook.bbl
/doc/newbook.bib
/doc/newbook.blg

# /emacs/
/emacs/Makefile
/emacs/d-comint-mode.el
/emacs/*.elc
/emacs/init.el
/emacs/elc-stamp
/emacs/d-mode.el
/emacs/nohup.out
/emacs/d-mode-ops.el

# /lib/
/lib/.deps
/lib/.libs
/lib/Makefile
/lib/Makefile.in
/lib/alloca.h
/lib/glob.h
/lib/string.h
/lib/sys
/lib/charset.alias
/lib/configmake.h
/lib/dirent.h
/lib/ref-add.sed
/lib/ref-del.sed
/lib/stdlib.h
/lib/unistd.h

# /libltdl/
/libltdl/.libs
/libltdl/autom4te.cache
/libltdl/Makefile
/libltdl/config.h
/libltdl/config.log
/libltdl/config.status
/libltdl/stamp-h1
/libltdl/libtool

# /m4/
/m4/Makefile
/m4/svnversion.m4

# /plugins/
/plugins/Makefile
/plugins/*.dep
/plugins/*.so
/plugins/.deps
/plugins/.libs
/plugins/dmflex.c
/plugins/dmflex.l
/plugins/plugin.d
/plugins/process2.c
/plugins/process2.h
/plugins/startup_dgen.d
/plugins/.plugins
/plugins/cpptester.c
/plugins/cpptester.h
/plugins/stats.c
/plugins/stats.h
/plugins/new-plugin.d
/plugins/dm-petsc.c
/plugins/new-plugin.d.in
/plugins/dmpetsc.c
/plugins/dmpetsc_la-dm-petsc.loT
/plugins/errors.d
/plugins/.gdb_history
/plugins/petsc.d

# /ps/
/ps/Makefile
/ps/thursday.ps
/ps/tuesday.ps

# /sh/
/sh/Makefile
/sh/dnode.sh
/sh/print.sh
/sh/print_.sh
/sh/emacsclient-run.sh
/sh/print.pl
/sh/runtool.sh

# /src/
/src/Makefile
/src/*.dep
/src/dnode
/src/dvt
/src/.deps
/src/.libs
/src/autoscan-2.59.log
/src/dgen
/src/.gdb_history
/src/testwordorder
/src/disp1f.h
/src/dm-config.h
/src/dm.pc
/src/dmnuminc.h
/src/dnode-nice.c
/src/dnode-nice
/src/dsp1f.h
/src/paths.h
/src/dsp2def.h
/src/dnode-daemon.c
/src/pid
/src/dnode-daemon
/src/dgen_0.h
/src/dnode_0.h
/src/dpawn_0.h
/src/dqueen.c
/src/drook.c
/src/drook
/src/old-dgen_0.h
/src/old-dnode_0.h
/src/old-dvt_0.h
/src/dpawn
/src/dvt_0.h
/src/dm-errs.h
/src/dm-prop.c
/src/dmprop

# /src/codegen/
/src/codegen/Makefile
/src/codegen/.deps
/src/codegen/.libs
/src/codegen/dgen
/src/codegen/libdmbootstrap_la-dm9.loT
/src/codegen/startup_dgen.d
/src/codegen/dgen-build
/src/codegen/dgen.c
/src/codegen/dgen_0.h
/src/codegen/dgen_1.h
/src/codegen/dm-config.h
/src/codegen/dm.h
/src/codegen/dm1.c
/src/codegen/dm2.c
/src/codegen/dm3.c
/src/codegen/dm4.c
/src/codegen/dm5.c
/src/codegen/dm6.c
/src/codegen/dm7.c
/src/codegen/dm8.c
/src/codegen/dmglobals.c
/src/codegen/dmnum.c
/src/codegen/dmnuminc.d
/src/codegen/dsp1.c
/src/codegen/dsp2.c
/src/codegen/error-local.h
/src/codegen/ldgen
/src/codegen/paths.h.in
/src/codegen/paths.h
/src/codegen/threads.c
/src/codegen/threads.h
/src/codegen/dm-types.c
/src/codegen/dm-types.h
/src/codegen/dmnum.h
/src/codegen/dsp2def.d
/src/codegen/dm-conv.c
/src/codegen/dm-nextevent.c
/src/codegen/dm-nextevent.h
/src/codegen/dm-swapbytes.h
/src/codegen/dm2.h
/src/codegen/dcoder
/src/codegen/dm3.h
/src/codegen/dm-prop.c.in
/src/codegen/dm-prop.c
/src/codegen/dm-prop.h
/src/codegen/dm-signals.c
/src/codegen/dm-signals.h
/src/codegen/dm-vm.c
/src/codegen/dm-vm.h
/src/codegen/dm6.h

# /test/
/test/Makefile
/test/arr.d

dm-*/

dcode/eps.d
dcode/errors.d.in
dcode/errors.din
dcode/linkedlist.d
lib/glob.lo
lib/glob.o
lib/libgnu.la
lib/localcharset.lo
lib/localcharset.o
lib/lstat.lo
lib/lstat.o
lib/stdio.h
lib/strnlen1.lo
lib/strnlen1.o
lib/tempname.lo
lib/tempname.o
libltdl/libltdlc.la
libltdl/ltdl.lo
libltdl/ltdl.o
plugins/dmpetsc.la
plugins/dmpetsc_la-dmpetsc-bug.lo
plugins/dmpetsc_la-dmpetsc-bug.o
plugins/dmpetsc_la-dmpetsc.lo
plugins/dmpetsc_la-dmpetsc.o
plugins/new-plugin.din
plugins/stats.la
plugins/stats.lo
plugins/stats.o
plugins/test.la
plugins/test.lo
plugins/test.o
plugins/test2.la
plugins/test2.lo
plugins/test2.o
plugins/throw.la
plugins/throw.lo
plugins/throw.o
src/codegen/dgen-dgen-dm3.o
src/codegen/dgen-dgen.o
src/codegen/dgen-dm-nextevent.o
src/codegen/dgen-dm-prop.o
src/codegen/dgen-dm3.o
src/codegen/dm-conv.lo
src/codegen/dm-conv.o
src/codegen/dm-prop.cin
src/codegen/dm-signals.lo
src/codegen/dm-signals.o
src/codegen/dm-types.lo
src/codegen/dm-types.o
src/codegen/dm1.lo
src/codegen/dm1.o
src/codegen/dm2.lo
src/codegen/dm2.o
src/codegen/dm4.lo
src/codegen/dm4.o
src/codegen/dm5.h
src/codegen/dm5.lo
src/codegen/dm5.o
src/codegen/dm6.lo
src/codegen/dm6.o
src/codegen/dm7.lo
src/codegen/dm7.o
src/codegen/dm8.lo
src/codegen/dm8.o
src/codegen/dmglobals.lo
src/codegen/dmglobals.o
src/codegen/dmnum.lo
src/codegen/dmnum.o
src/codegen/dsp1.lo
src/codegen/dsp1.o
src/codegen/dsp2.lo
src/codegen/dsp2.o
src/codegen/errors.d
src/codegen/libdmbootstrap.la
src/codegen/paths.hin
src/dgen-dgen.o
src/dgen-dm-nextevent.o
src/dgen-dm-prop.o
src/dgen-dm3.o
src/dm-vm.lo
src/dm-vm.o
src/dmprop-dm-prop.o
src/dmprop-dm-signals.o
src/dnode-dm-dnode.o
src/dnode-dm-glob.o
src/dnode-dm-nextevent.o
src/dnode-dm-proc.o
src/dnode-dm-prop.o
src/dnode-dm3.o
src/dnode-dnode.o
src/dnode-dqueen.o
src/dnode-nice.o
src/dpawn-dm-dpawn.o
src/dpawn-dm-mpi.o
src/dpawn-dpawn.o
src/drook-drook.o
src/dvt-dm-dvt.o
src/dvt-dm-glob.o
src/dvt-dm-nextevent.o
src/dvt-dm-proc.o
src/dvt-dm-prop.o
src/dvt-dm3.o
src/dvt-dvt.o
src/libdmbootstrap.la
src/libdmbootstrap_la-dm-conv.lo
src/libdmbootstrap_la-dm-conv.o
src/libdmbootstrap_la-dm-signals.lo
src/libdmbootstrap_la-dm-signals.o
src/libdmbootstrap_la-dm-types.lo
src/libdmbootstrap_la-dm-types.o
src/libdmbootstrap_la-dm1.lo
src/libdmbootstrap_la-dm1.o
src/libdmbootstrap_la-dm2.lo
src/libdmbootstrap_la-dm2.o
src/libdmbootstrap_la-dm4.lo
src/libdmbootstrap_la-dm4.o
src/libdmbootstrap_la-dm5.lo
src/libdmbootstrap_la-dm5.o
src/libdmbootstrap_la-dm6.lo
src/libdmbootstrap_la-dm6.o
src/libdmbootstrap_la-dm7.lo
src/libdmbootstrap_la-dm7.o
src/libdmbootstrap_la-dm8.lo
src/libdmbootstrap_la-dm8.o
src/libdmbootstrap_la-dm9.lo
src/libdmbootstrap_la-dm9.o
src/libdmbootstrap_la-dmglobals.lo
src/libdmbootstrap_la-dmglobals.o
src/libdmbootstrap_la-dmnum.lo
src/libdmbootstrap_la-dmnum.o
src/libdmbootstrap_la-dsp1.lo
src/libdmbootstrap_la-dsp1.o
src/libdmbootstrap_la-dsp2.lo
src/libdmbootstrap_la-dsp2.o
src/libdmglobals.la
src/libdmglobals_la-dm-conv.lo
src/libdmglobals_la-dm-conv.o
src/libdmglobals_la-dm-convert.lo
src/libdmglobals_la-dm-convert.o
src/libdmglobals_la-dm-signals.lo
src/libdmglobals_la-dm-signals.o
src/libdmglobals_la-dm-types.lo
src/libdmglobals_la-dm-types.o
src/libdmglobals_la-dm1.lo
src/libdmglobals_la-dm1.o
src/libdmglobals_la-dm2.lo
src/libdmglobals_la-dm2.o
src/libdmglobals_la-dm4.lo
src/libdmglobals_la-dm4.o
src/libdmglobals_la-dm5.lo
src/libdmglobals_la-dm5.o
src/libdmglobals_la-dm6.lo
src/libdmglobals_la-dm6.o
src/libdmglobals_la-dm7.lo
src/libdmglobals_la-dm7.o
src/libdmglobals_la-dm8.lo
src/libdmglobals_la-dm8.o
src/libdmglobals_la-dm9.lo
src/libdmglobals_la-dm9.o
src/libdmglobals_la-dmglobals.lo
src/libdmglobals_la-dmglobals.o
src/libdmglobals_la-dmnum.lo
src/libdmglobals_la-dmnum.o
src/libdmglobals_la-dregex.lo
src/libdmglobals_la-dregex.o
src/libdmglobals_la-dsp1.lo
src/libdmglobals_la-dsp1.o
src/libdmglobals_la-dsp2.lo
src/libdmglobals_la-dsp2.o
src/libdmglobals_la-matrix.lo
src/libdmglobals_la-matrix.o
src/libdmglobals_la-threads.lo
src/libdmglobals_la-threads.o
src/libdmnodal.la
src/plugin.lo
src/plugin.o
src/test-word-order.o
