*.aux
*.bbl
*.blg
*.cache
*.elc
*.ilg
*.ind
*.la
*.lo
*.log
*.lot
*.o
*.out
*.pdf
*.tar.bz2
*.tar.gz
*.toc
*.idx
*.orig
*~
.*/
/config.h
/config.status
/dm-*/
/libtool
/stamp-h1
Makefile
\#*
.deps
.libs
/plugins/dm-stats-main.h
/plugins/dm-stats-header.h
.\#*
