/dgen
/dgen_0.h
/dm-config.h
/dm-errs.h
/dm-prop.c
/dm.pc
/dmnuminc.h
/dmprop
/dnode
/dnode.c
/dmdnode
/dnode-daemon.c
/dnode-nice
/dnode-nice.c
/dnode_0.h
/dpawn
/dpawn_0.h
/dqueen.c
/drook
/drook.c
/dsp1f.h
/dsp2def.h
/dvt
/dvt_0.h
/paths.h
/testwordorder
/dvt-x-set-input-focus
/dm-sem.c
/getdisplay
